@model ZAD_WEB_1b.Areas.SpravaZpravy.Models.Modesilani

@{
    ViewData["Title"] = "Odeslani";
}



<h4>Odesílací formulář</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Odeslani">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Odesilatel" class="control-label"></label>
                <input asp-for="Odesilatel" class="form-control" />
                <span asp-validation-for="Odesilatel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijemce" class="control-label"></label>
                <input asp-for="Prijemce" class="form-control" />
                <span asp-validation-for="Prijemce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zprava" class="control-label"></label>
                <input asp-for="Zprava" class="form-control" />
                <span asp-validation-for="Zprava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Odeslat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
